@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: #66fcf1;
  --secondary-color: #45A29E;
  --text-color: #C5C6C7; 
  --background-color-nav: #0B0C10;
  --background-color-main: #1F2833;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 100px;
}